[submodule "Ej1_Saludo2Activities"]
	path = Ej1_Saludo2Activities
	url = https://github.com/alejandrtf/Ej1_Saludo2Activities
[submodule "EJ1/Ej1_Saludo2Activities"]
	path = EJ1/Ej1_Saludo2Activities
	url = https://github.com/alejandrtf/Ej1_Saludo2Activities
[submodule "UT1/Ej1_Saludo2Activities"]
	path = UT1/Ej1_Saludo2Activities
	url = https://github.com/alejandrtf/Ej1_Saludo2Activities
[submodule "UT3/EJ2_ActivityGuardarEstado"]
	path = UT3/EJ2_ActivityGuardarEstado
	url = https://github.com/alejandrtf/Ej2_ActivityGuardarEstado
[submodule "UT3/ActivityEjercicio02"]
	path = UT3/ActivityEjercicio02
	url = https://github.com/alejandrtf/ActivityEjercicio02
[submodule "UT4/LayoutEjercicio08-2"]
	path = UT4/LayoutEjercicio08-2
	url = https://github.com/alejandrtf/LayoutEjercicio08-2
[submodule "UT4/LayoutEjercicio08-3"]
	path = UT4/LayoutEjercicio08-3
	url = https://github.com/alejandrtf/LayoutEjercicio08-3
[submodule "UT4/LayoutEjercicio08-4"]
	path = UT4/LayoutEjercicio08-4
	url = https://github.com/alejandrtf/LayoutEjercicio08-4
[submodule "UT4/LayoutsEjercicio12-1"]
	path = UT4/LayoutsEjercicio12-1
	url = https://github.com/alejandrtf/LayoutsEjercicio12-1
[submodule "UT4/LayoutsEjercicio12-2"]
	path = UT4/LayoutsEjercicio12-2
	url = https://github.com/alejandrtf/LayoutsEjercicio12-2
